@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #000000;
  --font: #555555;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-font: var(--font);
  --font-sans: "Parkinsans", sans-serif;

  --text-2xl: clamp(2.5rem, 5vw, 3.75rem); /* 40px - 60px */
  --text-xl: clamp(2rem, 4.5vw, 3.4375rem); /* 32px - 55px */
  --text-lg: clamp(1.5rem, 3vw, 1.875rem); /* 24px - 30px */
  --text-sm: clamp(1rem, 2vw, 1.125rem); /* 16px - 18px */
  --text-xs: clamp(0.875rem, 1.8vw, 1.0625rem); /* 14px - 17px */
  --text-25: clamp(1.2rem, 3vw, 1.563rem);
  --text-40: clamp(1.8rem, 3vw, 2.5rem);

  --breakpoint-2xl: 96.875rem;

  --container-2xl: 95rem;

  --color-sidebar-ring: var(--sidebar-ring);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);

  --color-chart-4: var(--chart-4);

  --color-chart-3: var(--chart-3);

  --color-chart-2: var(--chart-2);

  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);

  --color-accent: var(--accent);

  --color-muted-foreground: var(--muted-foreground);

  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-secondary: var(--secondary);

  --color-primary-foreground: var(--primary-foreground);

  --color-popover-foreground: var(--popover-foreground);

  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);

  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);
}

  .container {
    @apply px-[15px] mx-auto;
  }
  .pb-150 {
    @apply pb-[50px] lg:pb-[60px] xl:pb-[80px] 2xl:pb-[150px];
  }
  .ptc-213  {
    @apply pt-[90px] lg:pt-[140px] xl:pt-[180px] 2xl:pt-[213px];
  }
  .ptc-130  {
    @apply pt-[50px] lg:pt-[60px] xl:pt-[80px] 2xl:pt-[130px];
  }
  .ptc-120  {
    @apply pt-[50px] lg:pt-[60px] xl:pt-[80px] 2xl:pt-[120px];
  }
  .pbc-135  {
    @apply pb-[50px] lg:pb-[60px] xl:pb-[80px] 2xl:pb-[135px];
  }
  .pbc-120  {
    @apply pb-[50px] lg:pb-[60px] xl:pb-[80px] 2xl:pb-[120px];
  }
  .pt-100 {
    @apply pt-[50px] lg:pt-[60px] xl:pt-[80px] 2xl:pt-[100px];
  }
  .pb-100 {
    @apply pb-[50px] lg:pb-[60px] xl:pb-[80px] 2xl:pb-[100px];
  }
  .py-100 {
    @apply py-[50px] lg:py-[60px] xl:py-[80px] 2xl:py-[100px];
  }
  .py-90 {
    @apply py-[40px] lg:py-[50px] xl:py-[70px] 2xl:py-[90px];
  }
  .py-70 {
    @apply py-[10px] lg:py-[30px] xl:py-[50px] 2xl:py-[70px];
  }
  .section-spacing {
    @apply py-[60px] lg:py-[90px] xl:py-[100px] 2xl:py-[120px];
  }
  .left-spacing {
    @apply pl-[15px] lg:pl-[calc((100%-930px)/2)] xl:pl-[calc((100%-79rem)/2)] 2xl:pl-[calc((100%-95rem)/2)];
}
.transition-500 {
  @apply duration-500 transition-all ease-in-out
}
.tsmnls .swiper-pagination {
  @apply relative text-left mt-[3rem];

}
.tsmnls .swiper-pagination span.swiper-pagination-bullet {
    @apply bg-[#D9D9D9]/35 opacity-100

}
.tsmnls .swiper-pagination span.swiper-pagination-bullet-active {
    @apply bg-[#D9D9D9]

}
.tsmnls .swiper-slide .itms::before {
  @apply transition-all duration-500 ease-in-out
}
.tsmnls .swiper-slide-active .itms::before {
  @apply h-[3px]
}
.headerpadding{
  @apply pt-[77px] lg:pt-[102px]
}
.gd-blacktrans::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 31%, rgba(0,0,0,0.9023984593837535) 99%);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 31%, rgba(0,0,0,0.9023984593837535) 99%);
  background: linear-gradient(180deg, rgba(0,0,0,0) 31%, rgba(0,0,0,0.9023984593837535) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);   }
/*
  .left-spacing {
    @apply pl-[15px] lg:pl-[calc((100%-930px)/2)] xl:pl-[calc((100%-1110px)/2)] xxl:pl-[calc((100%-1390px)/2)] xxxl:pl-[calc((100%-1620px)/2)] ;
  } */
p:not(:last-child) {
  @apply mb-3
}
body {
  color: var(--font);
  font-family: var(--font-sans);
  @apply text-sm;

}
.pmargin0 p{margin-bottom: 0px !important;}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.thumpslider.productthumb .swiper-slide{height: 115px !important;width: 115px !important; }
.pmargin0 p{margin-bottom: 0px !important;}
.befst{position: relative;}
.befst::before{content: '';
  position: absolute;
  width: 200%;
  left: -222px;
  height: 100%;
  background: #3e3e3e85;}
  .befst .descd {
    opacity: 1;
    height: auto;
  }
  .fullslider .swiper-wrapper{justify-content: center;}
  .overlayslider::after{content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 99%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 99%);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);}
    .team-grid div:nth-child(odd) img{
      background: #F2F2F2;
    }
    .team-grid .teammem:nth-child(even) img{background:#E7E7E7;}
    .teamover img{filter: grayscale(1);}

    .teamover:hover img{filter: grayscale(0);}
    .teammem:nth-child(odd) .evecont{
      height: 46%;
    }
    .teammem:nth-child(odd) .evecont img{
      height: 100%;
    }
    .bgst{background-position: right !important;
    background-repeat: no-repeat !important;}